.slider-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.slider-container {
  position: relative;
  width: 60%; /* Slider occupies 90% of the container width */
}

.slick-slide{
  position: relative;

}
.slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  color: #f0f8ff;
  min-width: 10%;
}

.slide img {
  width: 100%;
  height: 200px !important; /* Fixed height for all slides */
  object-fit: cover; /* Ensure image covers the area without distortion */
  transition: transform 0.5s;
}

.slide-image {
  height: 200px; /* Fixed height for all images */
}
/* .slick-center{
  width: 200px !important;
} */
.slide-info {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.slick-prev:before, .slick-next:before {
  color: black;
}
.slick-active:nth-child(4) {
  margin-left: 200px;
}
.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.buttons .prev,
.buttons .next {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1; /* Ensure buttons are above the slides */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Round buttons */
}
